<header class="border-bottom border-dark border-3">
  <div class="container padding-y-24 d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <a href="./">
        <h1 class="d-flex align-items-center">
          <img src="../assets/images/logo.png" alt="7TAO活動訂票網" />
          <span class="font-family-primary fw-bold fs-2 ms-3 me-1">7TAO</span>
          <span class="fs-6 fw-bold">活動訂票網</span>
        </h1>
      </a>
      <div class="input d-flex">
        <input type="text" placeholder="探索活動" class="ms-5 px-4 py-3 input-text" />
        <a href="" class="d-flex justify-content-center align-items-center"
          ><i class="bi bi-search"></i
        ></a>
      </div>
    </div>
    <div class="right font-family-primary d-flex align-items-center fw-bold">
      <a href="" class="register d-flex me-4">
        <i class="icofont-file-alt me-1"></i>
        <p class="d-flex">REGISTER</p>
      </a>
      <a href="" class="login d-flex">
        <i class="icofont-ui-user me-1"></i>
        <p>LOGIN</p>
      </a>
    </div>
    <div class="header-hamberger">
        <a href="" class="header-hamberger-btn"><span class="material-symbols-outlined px-3 d-flex align-items-center border border-3 rounded border-dark">
            menu
            </span></a>       
    </div>
  </div>
  <ul class="header-hamberger-list d-flex flex-column ps-0 mb-0">
    <li class="border-top border-dark border-1 w-100">
        <a href="" class="register d-flex justify-content-center py-3 ">
            <i class="icofont-file-alt me-1"></i>
            <p class="d-flex">REGISTER</p>
          </a>
    </li>
    <li class="border-top border-dark border-1 w-100">
        <a href="" class="login d-flex justify-content-center py-3 ">
            <i class="icofont-ui-user me-1"></i>
            <p>LOGIN</p>
          </a>
    </li>
</ul>
</header>
