<div class="container mw-416">
  <div class="d-flex flex-column aj-centaer mt-60 mb-3">
    <img src="../assets/images/sparkler.png" alt="login" class="w-32" />
    <h2 class="fs-4">會員登入</h2>
  </div>
  <form action="" class="mb-175">
    <div class="d-flex flex-column">
      <label for="account" class="mb-2">帳號</label>
      <input id="account" placeholder="請輸入帳號" class="px-3 py-2" />
    </div>
    <div class="d-flex flex-column mb-4">
      <label for="password" class="mb-2">密碼</label>
      <input id="password" placeholder="請輸入密碼" class="px-3 py-2" />
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-dark mx-auto d-flex aj-centaer w-100">
            登入<span class="material-symbols-outlined">
            double_arrow
          </span>
        </button>
      </div>
  </form>
</div>
