<div class="container">
  <div class="pay-step01-wrap mx-auto">
    <div class="step-line d-flex justify-content-between mb-5 mt-60">
      <div class="step-line-number d-flex flex-column align-items-center">
        <p class="d-flex aj-centaer">1</p>
        <p>訂單確認</p>
      </div>
      <div class="step-line-number d-flex flex-column align-items-center">
        <p class="d-flex aj-centaer step-line-none">2</p>
        <p>結帳付款</p>
      </div>
      <div class="step-line-number d-flex flex-column align-items-center">
        <p class="d-flex aj-centaer step-line-none">3</p>
        <p>訂購結果</p>
      </div>
    </div>
    <div class="payStep-content">
      <h2 class="text-center font-size-48 fw-bold mb-32">返老還童-制服聯誼</h2>
      <ul class="ps-0 border-3 border-top border-dark">
        <li
          class="d-flex justify-content-between align-items-center py-2 border-bottom border-dark"
        >
          <h3 class="font-size-16">日期</h3>
          <p>2023/5/12</p>
        </li>
        <li
          class="d-flex justify-content-between align-items-center py-2 border-bottom border-dark"
        >
          <h3 class="font-size-16">票種</h3>
          <p>改頭換面票（含大改造）</p>
        </li>
        <li
          class="d-flex justify-content-between align-items-center py-2 border-bottom border-dark"
        >
          <h3 class="font-size-16">票價</h3>
          <p>$8000</p>
        </li>
      </ul>
      <div class="personal">
        <form action="" class="mb-60">
          <div class="title d-flex flex-column aj-centaer mt-5 mb-3">
            <img src="../assets/images/sparkler.png" alt="title" />
            <h3 class="fs-4 mt-3 fw-bold">聯絡人資料</h3>
          </div>
          <div class="d-flex flex-column mb-3">
            <label for="name" class="mb-2"> 聯絡人姓名 </label>
            <input
              type="text"
              id="name"
              class="px-3 py-2"
              placeholder="請輸入聯絡人名稱"
            />
          </div>
          <div class="d-flex flex-column mb-3">
            <label for="name" class="mb-2"> 聯絡人姓名 </label>
            <input
              type="text"
              id="name"
              class="px-3 py-2"
              placeholder="請輸入Email"
            />
          </div>
          <div class="d-flex flex-column mb-4">
            <label for="name" class="mb-2"> 聯絡人姓名 </label>
            <input
              type="text"
              id="name"
              class="px-3 py-2"
              placeholder="請輸入手機號碼"
            />
          </div>
          <div class="row mb-3">
            <button type="button" class="btn btn-dark mx-auto d-flex aj-centaer col-8">
              確認表單資料<span class="material-symbols-outlined">
                double_arrow
              </span>
            </button>
          </div>
          <a href="" class="d-flex mx-auto bg-color aj-centaer">取消購票</a>
        </form>
      </div>
    </div>
  </div>
</div>
