<div class="container">
  <div class="pay-step01-wrap mx-auto">
    <div class="step-line d-flex justify-content-between mb-5 mt-60">
      <div class="step-line-number d-flex flex-column align-items-center">
        <p class="d-flex aj-centaer"><i class="bi bi-check"></i></p>
        <p>訂單確認</p>
      </div>
      <div class="step-line-number d-flex flex-column align-items-center">
        <p class="d-flex aj-centaer">2</p>
        <p>結帳付款</p>
      </div>
      <div class="step-line-number d-flex flex-column align-items-center">
        <p class="d-flex aj-centaer step-line-none">3</p>
        <p>訂購結果</p>
      </div>
    </div>
  </div>
</div>
<div class="payStep-content d-flex flex-column justify-content-between">
  <h2 class="text-center font-size-48 fw-bold mb-32">返老還童-制服聯誼</h2>
</div>
<div class="padding-x-12">
  <p
    class="bg-dark text-color-yellow text-center padding-x-12-y-8 mw-674 mx-auto mb-4"
  >
    您的訂單已保留，請在2023/5/30 04:32
    前完成繳費。若逾期未繳款，系統將取消您的訂單。
  </p>
</div>
<div class="container">
  <div class="pay-step01-wrap mx-auto">
    <div class="payStep-content d-flex flex-column justify-content-between">
      <ul class="ps-0 border-3 border-top border-dark">
        <li
          class="d-flex justify-content-between align-items-center py-2 border-bottom border-dark"
        >
          <h3 class="font-size-16">訂單編號</h3>
          <p>892746123</p>
        </li>
        <li
          class="d-flex justify-content-between align-items-center py-2 border-bottom border-dark"
        >
          <h3 class="font-size-16">票券</h3>
          <p>改頭換面票（含大改造）$8000</p>
        </li>
      </ul>
      <div class="personal">
        <form action="" class="mb-60">
          <div class="title d-flex flex-column aj-centaer mt-5 mb-3">
            <img src="../assets/images/sparkler.png" alt="title" />
            <h3 class="fs-4 mt-3 fw-bold">結帳資訊</h3>
          </div>
          <div class="d-flex flex-column mb-3">
            <label for="name" class="mb-2">取票資訊</label>
            <input
              type="text"
              id="name"
              class="px-3 py-2 mb-1"
              placeholder="請輸入身分證字號或護照號碼"
            />
            <p>
              請輸入您的<span class="text-color-peach">身分證字號</span
              >供取票使用，外籍人士請輸入<span class="text-color-peach"
                >護照號碼</span
              >
            </p>
          </div>
          <h4 class="font-size-16 mb-2">付款方式</h4>
          <div class="mb-2">
            <input type="radio" name="pay" id="credit" value="credit" />
            <label for="credit">信用卡</label>
          </div>
          <div class="mb-4">
            <input type="radio" name="pay" id="atm" value="atm" />
            <label for="atm">ATM虛擬帳號</label>
          </div>
          <div class="row mb-3">
            <button type="button" class="btn btn-dark mx-auto d-flex aj-centaer col-8">
                確認訂單並繳費 $8000<span class="material-symbols-outlined">
                double_arrow
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
