<div class="container">
  <div class="row mt-4 uniform-header-section">
    <div class="col-xxl-10 col-xl-12">
      <div class="border border-3 border-dark">
        <div class="uniform-header m-4"></div>
      </div>
    </div>
    <div
      class="uniform-text-section col-xxl-2 col-xl-12 d-flex flex-column justify-content-between mt-2"
    >
      <div class="uniform-text text-center">
        <h2
          class="font-family-primary border border-3 border-dark d-flex align-items-center justify-content-center"
        >
          2023
        </h2>
      </div>
      <div
        class="unifron-date border border-3 border-dark d-flex flex-column justify-content-between text-center ms-2 align-items-center"
      >
        <div>
          <h3 class="font-family-primary font-size-48">MAY</h3>
          <h3 class="font-family-primary font-size-48">19</h3>
        </div>
        <div class="date-line my-3"></div>
        <div>
          <p class="fs-2">12:00</p>
          <p class="fs-2">｜</p>
          <p class="fs-2">20:00</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="font-size-60 fs-32-sm mt-4 mb-3 fw-bold">返老還童-制服聯誼</h2>
    <p class="font-size-22 fs-16-sm mb-4">
      穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！
    </p>
    <ul class="d-flex ps-0 mb-5 display-none-sm">
      <li class="type-section me-2">聯誼</li>
      <li class="type-section me-2">美食</li>
      <li class="type-section me-2">戶外</li>
      <li class="type-section me-2">交通旅遊</li>
    </ul>
    <div
      class="uniform-content p-32 border border-3 border-dark mb-5 lh-lg padding-16-sm mb-24-sm"
    >
      <p class="mb-3">想回到過去？試著讓故事繼續？</p>
      <p class="mb-3">
        由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！
      </p>
      <p>
        活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶
      </p>
    </div>
    <div
      class="page-title d-flex justify-content-between align-items-center py-4 border border-dark border border-3 section-title mb-8-sm"
    >
      <h2 class="font-family-primary">TICKET</h2>
      <h2 class="fs-2 fw-bold h2-second">近期活動</h2>
    </div>
    <table class="table table-hover mb-147 align-middle">
      <thead>
        <tr class="border-bottom-3">
          <th scope="col" style="width: 30%" class="percen10-sm">活動日期</th>
          <th scope="col" style="width: 30%" class="percen50-sm">票種</th>
          <th scope="col" style="width: 29%" class="text-end-sm percen10-sm">票價</th>
          <th scope="col" class="percen20-sm text-center">購票</th>
        </tr>
      </thead>
      <tbody class="fs-14-sm">
        <tr class="border-bottom-1">
          <th scope="row">2023/5/12</th>
          <td>普通票</td>
          <td class="text-end-sm">$600</td>
          <td class="d-flex justify-content-center">
            <button
              class="btn btn-primary border border-dark px-4 py-2 display-none-sm"
            >
              立即購票
            </button>
            <button
              class="btn btn-primary border border-dark padding-x-12 py-2 display-none display-block-sm"
            >
              購票
            </button>
          </td>
        </tr>
        <tr class="border-bottom-1">
          <th scope="row">2023/5/12</th>
          <td>改頭換面票（含大改造）</td>
          <td class="text-end-sm">$3600</td>
          <td class="d-flex justify-content-center">
            <button
              class="btn btn-primary border border-dark px-4 py-2 display-none-sm"
            >
              立即購票
            </button>
            <button
              class="btn btn-primary border border-dark padding-x-12 py-2 display-none display-block-sm"
            >
              購票
            </button>
          </td>
        </tr>
        <tr class="border-bottom-1">
          <th scope="row">2023/5/12</th>
          <td>必勝票（含戀愛小抄）</td>
          <td class="text-end-sm">$8000</td>
          <td class="d-flex justify-content-center">
            <button
              class="btn btn-primary border border-dark px-4 py-2 display-none-sm"
            >
              立即購票
            </button>
            <button
              class="btn btn-primary border border-dark padding-x-12 py-2 display-none display-block-sm"
            >
              購票
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
