h1{
  img{
    width: 53px;
  }
}

header{
  .input{      
    a{
      width: 51px;
      background: black;
    }
    i{
      font-size: 19px;
      color: yellow;
    }
  }
  .right{
    i{
      font-size: 18px;
    }
    p{
      line-height: 18px;
    }
  }
}