.header-img {
  height: 518px;
  background-image: url("../images/event/13.jpg");
  background-size: cover;
  color: white;
  font-family: Yeseva One;
  h2 {
    font-size: 60px;
    letter-spacing: 1.2px;
    font-weight: 700;
  }
}

.index-list {
  h3 {
    margin-bottom: 0px;
    margin-top: 12px;
  }
  a {
    padding: 35px 58px;
  }
  li:last-child a {
    padding: 36px 50px;
    background-color: black;
  }
  img {
    width: 80px;
  }
  .more {
    color: yellow;
    font-size: 48px;
    line-height: 60px;
  }
}

.recent-title {
  padding: 0 32px;
  margin-bottom: 32px;
  h2 {
    font-size: 64px;
  }
}

.recet-img {
  height: 255px;
  width: 100%;
  &-1 {
    background-image: url("../images/event/01.jpg");
    background-size: cover;
  }
  &-2 {
    background-image: url("../images/event/02.jpg");
    background-size: cover;
  }
  &-3 {
    background-image: url("../images/event/03.jpg");
    background-size: cover;
  }
  &-4 {
    background-image: url("../images/event/04.jpg");
    background-size: cover;
    background-position: center;
  }
  &-5 {
    background-image: url("../images/event/05.jpg");
    background-size: cover;
  }
  &-6 {
    background-image: url("../images/event/06.jpg");
    background-size: cover;
  }
  &-7 {
    background-image: url("../images/event/07.jpg");
    background-size: cover;
  }
  &-8 {
    background-image: url("../images/event/08.jpg");
    background-size: cover;
  }
  &-9 {
    background-image: url("../images/event/09.jpg");
    background-size: cover;
  }
  &-10 {
    background-image: url("../images/event/10.jpg");
    background-size: cover;
  }
  &-11 {
    background-image: url("../images/event/11.jpg");
    background-size: cover;
  }
  &-12 {
    background-image: url("../images/event/12.jpg");
    background-size: cover;
  }
}

.online-title {
  padding: 0 32px;
  margin-top: 60px;
  margin-bottom: 32px;
  h2 {
    font-size: 64px;
  }
}

.online-img {
  max-width: 746px;
  width: 100%;
  background-image: url("../images/event/online.jpg");
  background-size: cover;
  background-position: 50% 33%;
}

.online-text {
  li {
    border: 1px black solid;
    border-left: 4px black solid;
    padding: 4px 24px;
  }
}

.activity {
  li {
    position: relative;
  }
  h3 {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: -22px;
    margin-left: auto;
    margin-right: auto;
    width: 96px;
  }
  .activity-img {
    height: 274px;
    background-size: cover;
    background-position: center center;
  }
  .activity-img-1 {
    background-image: url("../images/album/01.jpg");
  }
  .activity-img-2 {
    background-image: url("../images/album/02.jpg");
  }
  .activity-img-3 {
    background-image: url("../images/album/03.jpg");
  }
  .activity-img-4 {
    background-image: url("../images/album/04.jpg");
  }
  p {
    font-size: 18px;
  }
  .first-h3 {
    transform: rotate(-4deg);
  }
  .second-border {
    transform: rotate(2deg);
  }
  .second-h3 {
    transform: rotate(-3deg);
  }
  .third-border {
    transform: rotate(-2deg);
  }
  .third-h3 {
    transform: rotate(-4deg);
  }
  .fourth-border {
    transform: rotate(2deg);
  }
  .fourth-h3 {
    transform: rotate(-4deg);
  }
}

.us {
  .icon {
    width: 32px;
    height: 32px;
    background-color: black;
    i {
      color: white;
    }
  }
}

@include media-breakpoint-down(lg) {
  .mb-lg-12 {
    margin-bottom: 12px !important;
  }
  .online-section {
    flex-direction: column;
    .online-img {
      height: 220px;
      margin-bottom: 16px;
    }
    a {
      padding: 16px !important;
      padding-bottom: 16px !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .index-list {
    --bs-gutter-x: 0.5rem;
    img {
      width: 40px;
    }
    a {
      padding: 20px 20px;
    }
    li:last-child a {
      padding: 24px 20px;
      background-color: black;
      height: 100%;
    }
    h3 {
      margin-top: 8px;
      font-size: $fs-16;
    }
    .more {
      font-size: $fs-24;
      line-height: $lh-32;
    }
  }
  .us{
    flex-direction: column;
    border: 0px !important;
    .first-li{
      border: 3px solid black;
    }
    .second-li{
      margin-top: 24px;
      border: 3px solid black;
    }
  }
}

@include media-breakpoint-down(sm) {
  .header-img {
    padding: 16px 40px 24px;
    h2 {
      margin: 0px !important;
      max-width: 120px;
      font-size: $fs-32;
      font-weight: $fw-400;
    }
    .bottom p {
      display: none;
    }
  }
  .section-title {
    padding: 16px 24px !important;
    margin-bottom: 24px;
    h2 {
      font-size: $fs-24;
    }
    .h2-second {
      font-size: $fs-16 !important;
    }
  }
}
